.btn {
  padding: 10px 20px;
  margin: 5px;
  border-radius: 16px;
  box-shadow: 4px 4px 14px grey;
  border: solid black 2px;

  &:hover {
    box-shadow: 0 0 20px grey inset;
  }

  &:disabled {
    background-color: lightgray;

    &:hover {
      box-shadow: 4px 4px 14px grey;
    }
  }

  &--primary {
    background-color: white;
  }
}