.search-box {
  &__wrapper {
    display: inline-block;
    background-color: white;
    box-shadow: 4px 4px 14px grey;
    border-radius: 16px;
    border: solid black 2px;

    &:hover, &:focus {
      box-shadow: 0 0 20px grey inset;
    }
  }

  &__search-label {
    display: inline-block;
    padding: 10px;
  }

  &__search-icon {
    &:hover, &:focus {
      transform: scale(1.1);
    }
  }

  &__search-input {
    padding: 10px;
    border: none;
    background-color: transparent;
  }
}
